<footer class="container-fluid voyagefooter">
	<div class="row">
		<div class="col-xs-1"
			style="background-color: #4172c1; color: #ffffff">
			<p style="text-align: left">Nous écrire:</p>

		</div>
		<div class="col-xs-5"
			style="background-color: #4172c1; color: #ffffff">
			<p style="text-align: left">Agence Bifrost Voyages</p>
			<p style="text-align: left">24 rue Crébillon 44000 Nantes</p>
		</div>

		<div class="col-xs-6"
			style="background-color: #4172c1; color: #ffffff">
			<a href="https://goo.gl/maps/FaM83Pu8pXx"
				style="color: #ffffff; margin-top: 50px" target=”_blank”>Trouver notre agence</a>
		</div>
	</div>
</footer>