<nav class="navbar navbar-inverse text-center"
	style="background-color: A DEFINIR; border-top: none">
	<ul class="nav nav-pills center-pills"
		style="background-color: A DEFINIR">
		<li role="presentation"><a
			href="${pageContext.request.contextPath}/" style="color: A DEFINIR">Accueil</a></li>
		<li role="presentation"><div class="dropdown"
				style="background-color: A DEFINIR; padding-top: 5px">
				<button class="btn btn-default dropdown-toggle" type="button"
					id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="true"
					style="background-color: #52527a; color: #ffc61a">
					Cherchez et réservez! <span class="caret"></span>
				</button>
				<ul class="dropdown-menu" aria-labelledby="dropdownMenu1"
					style="background-color: A DEFINIR; border: 2px solid black">
					<li role="presentation"><a
						href="${pageContext.request.contextPath}/" style="color: #ffc61a">Listes
							Voyages!</a></li>
					<li role="presentation"><a
						href="${pageContext.request.contextPath}/" style="color: #ffc61a">Chercher
							une offre</a></li>
					<li role="presentation"><a
						href="${pageContext.request.contextPath}/" style="color: #ffc61a">Réserver</a></li>
				</ul>
			</div></li>

		<li role="presentation"><a
			href="${pageContext.request.contextPath}/" style="color: A DEFINIR">Last Minute!</a></li>
		<li role="presentation"><a href="login.jsp"
			style="color: #ffc61a; n">Login</a></li>
		<li role="presentation"><a href="logout.jsp"
			style="color: #ffc61a">Logout</a></li>
	</ul>
</nav>