<div class="container-fluid voyageheader">
	<div class="row">
		<div class="span4">
			<a href="${pageContext.request.contextPath}/"><img
				src="../resources/images/VoyageNordicLogo.png"
				style="width: 10%; height: auto; text-align: left; float: left; padding-bottom: 15px"></a>
			<div class="content-heading">
				<h1 style="margin-right: 10%; padding-top: 15px">Bifrost Voyage</h1>
			</div>
		</div>
	</div>
</div>

<nav class="navbar navbar-inverse text-center"
	style="border-top: none; background-color: #4172c1">
	<ul class="nav nav-pills center-pills">
		<li role="presentation"><a
			href="${pageContext.request.contextPath}/offreVoyage/listeOffrePromo"
			style="color: #ffffff">Accueil</a></li>
		<li role="presentation"><div class="dropdown"
				style="padding-top: 5px; background-color: #4172c1">
				<button class="btn btn-default dropdown-toggle" type="button"
					id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="true"
					style="background-color: #4172c1; color: #ffffff">
					Cherchez et réservez! <span class="caret"></span>
				</button>
				<ul class="dropdown-menu" aria-labelledby="dropdownMenu1"
					style="border: 2px solid black; background-color: #4172c1">
					<li role="presentation" style="background-color: #4172c1"><a
						href="${pageContext.request.contextPath}/offreVoyage/listeOffreVoyage"
						style="color: #ffffff; background-color: #4172c1">Toutes nos
							offres!</a></li>
					<li role="presentation" style="background-color: #4172c1"><a
						href="${pageContext.request.contextPath}/offreVoyage/rechercherParNoVoyage"
						style="color: #ffffff; background-color: #4172c1">Rechercher
							une offre</a></li>
				</ul>
			</div></li>
		<li role="presentation" style="background-color: #4172c1"><a
			href="${pageContext.request.contextPath}/"
			style="color: #ffffff; background-color: #4172c1">Last Minute!</a></li>
		<li role="presentation"><div class="dropdown"
				style="padding-top: 5px; background-color: #4172c1">
				<button class="btn btn-default dropdown-toggle" type="button"
					id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="true"
					style="background-color: #4172c1; color: #ffffff">
					Offres <span class="caret"></span>
				</button>
				<ul class="dropdown-menu" aria-labelledby="dropdownMenu1"
					style="border: 2px solid black; background-color: #4172c1">
					<li role="presentation"><a
						href="${pageContext.request.contextPath}/offreVoyage/listeOffreVoyage"
						style="color: #ffffff">Liste des offres</a></li>
					<li role="presentation"><a
						href="${pageContext.request.contextPath}/offreVoyage/rechercherParNoVoyage"
						style="color: #ffffff">Rechercher une offre</a></li>
					<li role="presentation"><a
						href="${pageContext.request.contextPath}/offreVoyage/ajouterOffre"
						style="color: #ffffff">Ajouter une offre</a></li>
					<li role="presentation"><a
						href="${pageContext.request.contextPath}/offreVoyage/supprimerOffre"
						style="color: #ffffff">Supprimer une offre</a></li>
					<li role="presentation"><a
						href="${pageContext.request.contextPath}/offreVoyage/modifierOffre"
						style="color: #ffffff">Modifier une offre</a></li>
					<li role="presentation"><a
						href="${pageContext.request.contextPath}/offreVoyage/cloreOffre"
						style="color: #ffffff">Clôturer une offre</a></li>
					<li role="presentation"><a
						href="${pageContext.request.contextPath}/offreVoyage/promoOffre"
						style="color: #ffffff">Mettre une offre en promo</a></li>
				</ul>
			</div></li>
		<li role="presentation"><div class="dropdown"
				style="padding-top: 5px; background-color: #4172c1">
				<button class="btn btn-default dropdown-toggle" type="button"
					id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="true"
					style="background-color: #4172c1; color: #ffffff">
					Clients <span class="caret"></span>
				</button>
				<ul class="dropdown-menu" aria-labelledby="dropdownMenu1"
					style="border: 2px solid black; background-color: #4172c1">
					<li role="presentation"><a
						href="${pageContext.request.contextPath}/client/ListeClients"
						style="color: #ffffff">Liste des clients</a></li>
					<li role="presentation"><a
						href="${pageContext.request.contextPath}/client/rechercher"
						style="color: #ffffff">Rechercher un client</a></li>
					<li role="presentation"><a
						href="${pageContext.request.contextPath}/client/ajouterClient"
						style="color: #ffffff">Ajouter une offre</a></li>
					<li role="presentation"><a
						href="${pageContext.request.contextPath}/client/supprimer"
						style="color: #ffffff">Supprimer un client</a></li>
					<li role="presentation"><a
						href="${pageContext.request.contextPath}/client/modifier"
						style="color: #ffffff">Modifier un fichier client</a></li>
				</ul>
			</div></li>
		<li role="presentation"><div class="dropdown"
				style="padding-top: 5px; background-color: #4172c1">
				<button class="btn btn-default dropdown-toggle" type="button"
					id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="true"
					style="background-color: #4172c1; color: #ffffff">
					Commandes<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" aria-labelledby="dropdownMenu1"
					style="border: 2px solid black; background-color: #4172c1">
					<li role="presentation"><a
						href="${pageContext.request.contextPath}/commande/listeCommandes"
						style="color: #ffffff">Liste des commandes</a></li>
					<li role="presentation"><a
						href="${pageContext.request.contextPath}/commande/rechercher"
						style="color: #ffffff">Rechercher un client</a></li>
					<li role="presentation"><a
						href="${pageContext.request.contextPath}/commande/rechercheCommande"
						style="color: #ffffff">Ajouter une offre</a></li>
				</ul>
			</div></li>
		<li role="presentation"><a
			href="${pageContext.request.contextPath}/" style="color: #ffffff;">Login</a></li>
		<li role="presentation"><a
			href="${pageContext.request.contextPath}/"><i
				class="fas fa-user-cog" style="color: #ffffff"></i></a></li>
		<li role="presentation"><form action="" style="margin-top: 7px">
				<button type="submit">
					<i class="fa fa-search"></i>
				</button>
				<input type="text" placeholder="Search..." name="search">
			</form></li>
	</ul>
</nav>