<div class="container-fluid voyageheader">
	<div class="row">
		<div class="span4">
			<a href="${pageContext.request.contextPath}/"><img
				src="../resources/images/log3.png"
				style="width: 10%; height: auto; text-align: left; float: left; padding-bottom: 15px"></a>
			<div class="content-heading">
				<h1 style="margin-right: 10%; padding-top: 15px">Bifrost Voyage</h1>
			</div>
		</div>
	</div>
</div>

<nav class="navbar navbar-inverse text-center"
	style="border-top: none; background-color: #4172c1">
	<ul class="nav nav-pills center-pills"
		style="border-top: none; background-color: #4172c1">
		<li role="presentation"><a
			href="${pageContext.request.contextPath}/offreVoyage/accueil"
			style="color: #ffffff; background-color: #4172c1">Accueil</a></li>
		<li role="presentation" style="background-color: #4172c1"><a
			href="${pageContext.request.contextPath}/offreVoyage/rechercheOffreClient"
			style="color: #ffffff; background-color: #4172c1">Cherchez et
				Réservez !</a></li>
		<li role="presentation" style="background-color: #4172c1"><a
			href="${pageContext.request.contextPath}/offreVoyage/listeOffrePromo"
			style="color: #ffffff; background-color: #4172c1">Promotion</a></li>
		<li role="presentation" style="background-color: #4172c1"><a
			href="${pageContext.request.contextPath}/client/clientLoggedIn/monCompte"
			style="color: #ffffff; background-color: #4172c1">Mon Compte</a></li>
		<li role="presentation" style="background-color: #4172c1"><a
			href="${pageContext.request.contextPath}/login"
			style="color: #ffffff;; background-color: #4172c1">Login</a></li>
		<li role="presentation" style="background-color: #4172c1"><a
			href="${pageContext.request.contextPath}/logout"
			style="color: #ffffff;; background-color: #4172c1">Logout</a></li>
		<li role="presentation" style="background-color: #4172c1"><a
			href="${pageContext.request.contextPath}/client/ajouterClient"
			style="color: #ffffff;; background-color: #4172c1">Inscription</a></li>
		<li role="presentation" style="background-color: #4172c1"><a
			href="${pageContext.request.contextPath}/client/admin/ListeClients"><i
				class="fas fa-user-cog"
				style="color: #ffffff; background-color: #4172c1"></i></a></li>
		<li role="presentation" style="background-color: #4172c1"><form
				action="" style="margin-top: 7px">
				<button type="submit">
					<i class="fa fa-search"></i>
				</button>
				<input type="text" placeholder="Search..." name="search">
			</form></li>
	</ul>
</nav>